@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

@import "./Reset.scss";

:root {
  --sora: "Cinzel", sans-serif;

  --pri-1: #16161a;
  --pri-2: #27272e;
  --pri-3: #5092d2;
}
