.container {
  width: 100%;
  padding: 5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../../../public/Assets/headerhero/image01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.box {
  width: 86%;
  height: 100rem;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}
